<!--==========================
    Top Bar
  ============================-->
<section id="topbar" class="d-none d-lg-block">
  <div class="container clearfix">
    <div class="contact-info float-left">
      <!-- <i class="fa fa-envelope-o"></i> -->
      <!-- <a href="mailto:contact@example.com">contact@example.com</a> -->
      <i class="fa fa-phone"></i> (+) 202 2261 1193 / 2261 1194
    </div>
    <div class="social-links float-right">
      <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
      <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
      <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
      <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
      <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
    </div>
  </div>
</section>
<!--==========================
    Header
  ============================-->
<header id="header">
  <div class="container">
    <div id="logo" class="pull-left">
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="#body"
        ><img src="./assets/img/greenvaly_logo.jpg" alt="" title=""
      /></a>
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li>
          <a
            routerLinkActive="menu-active"
            [routerLink]="['/']"
            [queryParams]="{ anchor: 'intro' }"
            >الرئـيسية</a
          >
        </li>
        <li>
          <a
            routerLinkActive="menu-active"
            [queryParams]="{ anchor: 'about' }"
            [routerLink]="['/']"
            >عن شركتنا</a
          >
        </li>
        <li>
          <a
            routerLinkActive="menu-active"
            [routerLink]="['/about-us']"
            [queryParams]="{ anchor: 'intro' }"
            >من نحن</a
          >
        </li>
        <li>
          <a
            routerLinkActive="menu-active"
            [queryParams]="{ anchor: 'contact' }"
            [routerLink]="['/']"
            >اتصل بـنا</a
          >
        </li>
      </ul>
    </nav>
    <!-- #nav-menu-container -->
  </div>
</header>
<!-- #header -->
