#logo {
  h2 {
    color: #50d8af;
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    span {
      color: black;
    }
  }
  img {
    height: 50px;
    margin-top: -5px;
  }
}
#intro {
  /* background-image: url("./assets/img/sringes.jpg") no-repeat; */
}

#header {
  height: auto;
  padding: 0;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  a img {
    height: 100px;
  }
}
