<section id="intro">
  <div class="intro-content">
    <h2>GREEN <span>VALLEY</span></h2>
    <!-- <div>
      <a href="#about" class="btn-get-started scrollto">Get Started</a>
      <a href="#portfolio" class="btn-projects scrollto">Our Projects</a>
    </div> -->
  </div>


  <div id="intro-carousel" class="owl-carousel">
    <div
      class="item"
      style="background-image: url('img/intro-carousel/1.jpg');"
    ></div>
    <div
      class="item"
      style="background-image: url('img/intro-carousel/2.jpg');"
    ></div>
    <div
      class="item"
      style="background-image: url('img/intro-carousel/3.jpg');"
    ></div>
    <div
      class="item"
      style="background-image: url('img/intro-carousel/4.jpg');"
    ></div>
    <div
      class="item"
      style="background-image: url('img/intro-carousel/5.jpg');"
    ></div>
  </div>
</section>
<!-- #intro -->

<main id="main">
  <!--==========================
      Services Section
    ============================-->
  <section id="about" dir="rtl">
    <div class="container">
      <div class="section-header">
        <h2>من نحن</h2>
        <ul>
          <li>
            شركة وطنية ذات رأس مال مصري 100%، تعمل في العديد من الاستثمارات
            المتعددة.
          </li>
          <li>
            إحدى أنشتطها بالتعاون مع شركاءها مجالات حماية البيئة وإدارة المخلفات
            الصلبة والخطرة.
          </li>
          <li>
            بالاضافة الى وضع الخطط والإستراتيجيات الخاصة بإدارات المخلفات الخطرة
            والصلبة وخطط الكوارث.
          </li>
          <li>
            قامت الشركة بالتعاون مع شركاءها بتوريد وتشغيل وصيانة العديد من معدات
            المعالجة الامنه للمخلفات في مصر للجهات الحكومي والخاصة.
          </li>
          <li>
            تقوم الشركة بالاستثمار في شراء معدات ترميد صديقة بسعات مختلفة.
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section id="about" dir="rtl">
    <div class="container">
      <div class="section-header">
        <h2>رؤيتـنا</h2>
        <p>
          أن تكون شركة جرين فالي أحد الشركاء الأساسيين في مجال التحكم في التلوث
          البيئي بكافة صوره من خلال شراكات مع الجهات المعنية الحكومية و الغير
          حكومية العاملة في مجال حماية البيئة
        </p>
        <p>
          تنفيذ مشروعات بيئية لتكون مثالا ناجحا يحتذي به و يعد داعما للمساهمة في
          تحقيق رؤية مصر في بيئة نظيفة للأجيال القادمة.
        </p>
      </div>
    </div>
  </section>

  <section id="about" dir="rtl">
    <div class="container">
      <div class="section-header">
        <h2>سياســتنا</h2>
        <p>
          تطبيق نظام الادارة المتكاملة و الجودة الشاملة بكافة مراحل الخدمة من
          اجل تقديم خدمة متميزة لكافة المستفيدين بهدف تقليل التأثير البيئي
          لمشكلة التداول الغير سليم للمخلفات
        </p>
      </div>
      <div class="section-body">
        <img src="./assets/img/hir.png" alt="" />
        <p>الإدارة المتكاملة للمنظومة</p>
      </div>
    </div>
  </section>

  <section id="about" dir="rtl">
    <div class="container">
      <div class="section-header">
        <h2>أهدافنا</h2>
        <ul>
          <li>
            المساهمة في دعم منع إنتشار العدوي والأمراض وتفشي الأوبئة وتدهور صحة
            المجتمع والبيئة.
          </li>
          <li>
            تحسن الوضع البيئي في مصر بشكل عام وفي محافظة القاهرة بشكل خاص.
          </li>
          <li>
            منع انتشار الأوبئة والأمراض الناتجة عن عدم الإدارة السليمة للمخلفات
            الخطرة.
          </li>
          <li>
            زيادة فرص العمل المباشرة والغير مباشرة.
          </li>
          <li>
            ضخ إستثمارات بيئية في المحافظة.
          </li>
          <li>
            زيادة الوعي بالإدارة المتكاملة للمخلفات الطبية الخطرة .
          </li>
          <li>
            إستخدام المشروع كنموذج ناجح يتم تطبيقة في المحافظات الاخرى.
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section id="about" dir="rtl">
    <div class="container">
      <div class="section-header">
        <h2>التعاون مع هيئة نظافة وتجميل القاهرة – محافظة القاهرة</h2>
        <p>
          تقوم الشركة بإدارة منظومة جمع و نقل و معالجة و التخلص الامن من
          المخلفات الطبية بمحافظة القاهرة تحت مظلة الهيئة العامة لنظافة و تجميل
          القاهرة
        </p>
      </div>
      <div class="section-body">
        <img src="./assets/img/hy2a.png" alt="الهيـئة" />
        <img src="./assets/img/greenvaly_logo.jpg" alt="logo" />
      </div>
    </div>
  </section>
  <hr />

  <section dir="rtl">
    <div class="container" id="about-flex">
      <div class="section-header">
        <p>
          تم التعاقد بين شركة جرين فالي والهيئة للقيام بالمساهمه في منظومة
          الإدارة المتكاملة لإدارة المخلفات الطبية الخطرة في محافظة القاهرة –
          المنطقة الشرقية، وذلك للدعم في منع إنتشار العدوي والأمراض وتفشي
          الأوبئة وتدهور صحة المجتمع والبيئة المحيطة، وذلك عن طريق الإستثمار
          المباشر بتوفير عدة معدات ترميد ومعالجة للمخلفات الطبية صديقة البيئة
          والحاصلة على جميع التراخيص والموافقات المحلية والدولية.
        </p>
      </div>
      <div class="section-body">
        <img src="./assets/img/unit.jpg" alt="" />
        <p>صور المخلفات الطبية الخطرة</p>
      </div>
    </div>
  </section>

  <section id="info_nf" dir="rtl">
    <div class="container">
      <div class="section-header">
        <h2>عن النفايات الطبية</h2>
        <p>
          تعد النفايات الطبية واحدة من أخطر المشكلات البيئية التى كانت سبباً فى
          إصابة آلاف المواطنين بالأمراض الخطيرة، ورغم وجود قوانين تنظم عملية
          التخلص من هذه المخلفات فى المستشفيات العامة والخاصة من خلال الحرق، إلا
          أن الخطر يظل قائماً نتيجة التحايل على القوانين، ونتيجة لوجود مخلفات فى
          العيادات الطبية الخاصة المنتشرة فى كل مكان، والمراكز الطبية التى لا
          تلتزم بالقوانين وتتخلص من هذه المخلفات بطرق غير صحيحة ، حيث يقوم جامعو
          القمامة بتجميع هذه المخلفات من سرنجات وزجاجات المحاليل البلاستيكية
          ومخلفات عمليات الغسيل الكلوى، ويحتفظون بها فى مخازن خاصة لبيعها بفرض
          إعادة تدويرها وصناعة منتجات الموت المنتشرة فى الأسواق الشعبية
        </p>
      </div>
    </div>
  </section>
</main>
