#intro {
  .intro-content {
    h2 {
      color: #50d8af;
      span {
        color: white;
        text-decoration: none;
      }
    }
  }
}

#main {
  #about {
    text-align: right;
    .section-header {
    }
  }
}

#contact {
  text-align: right;
}

.section-header {
  h2 {
    text-align: right;
    font-size: 26px;
    &::before {
      right: 0;
      left: auto;
    }
  }
  p {
    text-align: right;
    font-size: 20px;
  }
}
