<!--==========================
    Intro Section
  ============================-->
<section id="intro">
  <div class="intro-content">
    <img src="./assets/img/logo-o.png" alt="logo" height="200" />
    <h2>GREEN <span>VALLEY</span></h2>
  </div>
</section>
<!-- #intro -->

<main id="main">
  <section>
    <div class="container">
      <div class="section-header">
        <h2>من نـحن</h2>
        <p>
          هي شركة وطنية ذات رأس مال مصري 100%، تعمل في العديد من الاستثمارات و
          إحدي أنشطتها في مجال حماية البيئة و الادارة المتكاملة للمخلفات
        </p>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="section-header">
        <h2>قيــمنا</h2>
        <p>
          السلامة و الأمان
        </p>
        <p>
          الجودة
        </p>
        <p>
          التوعية و التثقيف
        </p>
        <p>
          المشاركة المجتمعية
        </p>
      </div>
    </div>
  </section>

  <section dir="rtl">
    <div class="container">
      <div class="section-header">
        <h2>سياســتنا</h2>
        <p>
          تطبيق نظام الادارة المتكاملة و الجودة الشاملة بكافة مراحل الخدمة من
          اجل تقديم خدمة متميزة لكافة المستفيدين بهدف تقليل التأثير البيئي
          لمشكلة التداول الغير سليم للمخلفات
        </p>
      </div>
    </div>
  </section>
  <section dir="rtl">
    <div class="container">
      <div class="section-header">
        <h2>رؤيتـنا</h2>
        <p>
          أن تكون شركة جرين فالي أحد الشركاء الأساسيين في مجال التحكم في التلوث
          البيئي بكافة صوره من خلال شراكات مع الجهات المعنية الحكومية و الغير
          حكومية العاملة في مجال حماية البيئة
        </p>
        <p>
          تنفيذ مشروعات بيئية لتكون مثالا ناجحا يحتذي به و يعد داعما للمساهمة في
          تحقيق رؤية مصر في بيئة نظيفة للأجيال القادمة.
        </p>
      </div>
    </div>
  </section>

  <section dir="rtl">
    <div class="container">
      <div class="section-header">
        <h2>أهدافنا</h2>
        <ul>
          <li>
            المساهمة في دعم منع إنتشار العدوي والأمراض وتفشي الأوبئة وتدهور صحة
            المجتمع والبيئة.
          </li>
          <li>
            تحسن الوضع البيئي في مصر بشكل عام وفي محافظة القاهرة بشكل خاص.
          </li>
          <li>
            منع انتشار الأوبئة والأمراض الناتجة عن عدم الإدارة السليمة للمخلفات
            الخطرة.
          </li>
          <li>
            زيادة فرص العمل المباشرة والغير مباشرة.
          </li>
          <li>
            ضخ إستثمارات بيئية في المحافظة.
          </li>
          <li>
            زيادة الوعي بالإدارة المتكاملة للمخلفات الطبية الخطرة .
          </li>
          <li>
            إستخدام المشروع كنموذج ناجح يتم تطبيقة في المحافظات الاخرى.
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section id="services">
    <div class="container">
      <div class="section-header">
        <h2>خدماتنا</h2>
      </div>
      <div class="section-body">
        <img
          src="./assets/img/hir.png"
          alt="المنظومة"
          height="300"
          style="margin:auto;"
        />
        <p>الإدارة المتكاملة للمنظومة</p>
      </div>
    </div>
  </section>

  <section id="contact" class="wow fadeInUp">
    <div class="container">
      <div class="section-header">
        <h2>اتصل بنــا</h2>
        <p>
          للشكاوي يرجي الاتصال برقم الهاتف
        </p>
        <p>
          أو ملء نموذج الشكوي الموجود علي الموقع الالكتروني و سيقوم أحد موظفي
          الشركة بالاتصال بسيادتكم
        </p>
      </div>

      <div class="row contact-info">
        <div class="col-md-4">
          <div class="contact-address">
            <i class="ion-ios-location-outline"></i>
            <h3>عنوان</h3>
            <address>
              Mohamed Fahmy El Mohdar St No. (1), Nasr City Cairo - Egypt
            </address>
          </div>
        </div>

        <div class="col-md-4">
          <div class="contact-phone">
            <i class="ion-ios-telephone-outline"></i>
            <h3>هاتف</h3>
            <p><a href="tel:+155895548855">(+) 202 2261 1193 / 2261 1194</a></p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="contact-email">
            <i class="ion ion-document" style="margin-top: 20px;"></i>
            <h3>فاكس</h3>
            <p>
              <a href="mailto:info@example.com"
                >(+) 202 2261 0516 / 2404 0261</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container mb-4">
      <iframe
        width="100%"
        height="380"
        frameborder="0"
        style="border:0"
        allowfullscreen
        id="gmap_canvas"
        src="https://maps.google.com/maps?q=%D8%B4%D8%A7%D8%B1%D8%B9%20%D8%A7%D9%84%D8%B7%D9%8A%D8%B1%D8%A7%D9%86&t=&z=17&ie=UTF8&iwloc=&output=embed"
        frameborder="0"
        scrolling="no"
        marginheight="0"
        marginwidth="0"
      ></iframe>
    </div>

    <div class="container">
      <div class="form">
        <div id="sendmessage">Your message has been sent. Thank you!</div>
        <div id="errormessage"></div>
        <form action="" method="post" role="form" class="contactForm">
          <div class="form-row">
            <div class="form-group col-md-6">
              <input
                type="text"
                name="name"
                class="form-control"
                id="name"
                placeholder="اســمك"
                data-rule="minlen:4"
                data-msg="Please enter at least 4 chars"
              />
              <div class="validation"></div>
            </div>
            <div class="form-group col-md-6">
              <input
                type="email"
                class="form-control"
                name="email"
                id="email"
                placeholder="بريدك الالكرتــروني"
                data-rule="email"
                data-msg="Please enter a valid email"
              />
              <div class="validation"></div>
            </div>
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              name="subject"
              id="subject"
              placeholder="العنــوان"
              data-rule="minlen:4"
              data-msg="Please enter at least 8 chars of subject"
            />
            <div class="validation"></div>
          </div>
          <div class="form-group">
            <textarea
              class="form-control"
              name="message"
              rows="5"
              data-rule="required"
              data-msg="Please write something for us"
              placeholder="اترك شكوتك أو رسالتك هنا.."
            ></textarea>
            <div class="validation"></div>
          </div>
          <div class="text-center">
            <button type="submit">أرســل</button>
          </div>
        </form>
      </div>
    </div>
  </section>
  <!-- #contact -->
</main>
