#intro {
  margin-bottom: 20px;
  .intro-content {
    background: rgba(0, 0, 0, 0.6);
    h2 {
      color: #50d8af;
      span {
        color: white;
        text-decoration: none;
      }
    }
  }
}

#main {
  #about {
    text-align: right;
    .section-header {
      .title,
      .description {
        text-align: right;
      }
    }
  }
}
.section-body {
  text-align: center;
  img {
    height: 400px;
  }
  p {
    color: #333;
    font-size: 12px;
  }
}
#contact {
  text-align: right;
}

.section-header {
  h2 {
    text-align: right;
    font-size: 26px;
    &::before {
      right: 0;
      left: auto;
    }
  }
  p {
    text-align: right;
    font-size: 20px;
  }
}

section {
  padding-top: 20px;
  text-align: right;
  ul {
    list-style: none;
    padding: 0;
  }
}
input::placeholder, textarea::placeholder {
  text-align: right;
}

#intro {
  /* FIXME: home background image */
  background: url('../../assets/img/turb.png') no-repeat;
  background-size: cover;
}

#about {
  padding-top: 40px;
}

.section-header {
  text-align: right;
}

.section-header h2::before {
  right: 0;
  left: unset;
}

.section-body {
  text-align: center;
  img {
    height: 300px;
  }
  p {
    color: #333;
    font-size: 12px;
  }
}

section {
  p {
    max-width: 850px;
  }
}

#about-flex {
  display: flex;
  p {
    padding: 10px;
    padding-left: 30px;
  }
  img {
  }
}
