<!--==========================
    Intro Section
  ============================-->
<section id="intro">
  <div class="intro-content">
    <h2>GREEN <span>VALLEY</span></h2>
    <!-- <div>
      <a href="#about" class="btn-get-started scrollto">Get Started</a>
      <a href="#portfolio" class="btn-projects scrollto">Our Projects</a>
    </div> -->
  </div>
  <!-- Uncomment below if you prefer to use an image logo -->
  <!-- <a href="#body"
    ><img src="./assets/img/greenvaly_logo.png" alt="" title=""
  /></a> -->

  <div id="intro-carousel" class="owl-carousel">
    <div
      class="item"
      style="background-image: url('img/intro-carousel/1.jpg');"
    ></div>
    <div
      class="item"
      style="background-image: url('img/intro-carousel/2.jpg');"
    ></div>
    <div
      class="item"
      style="background-image: url('img/intro-carousel/3.jpg');"
    ></div>
    <div
      class="item"
      style="background-image: url('img/intro-carousel/4.jpg');"
    ></div>
    <div
      class="item"
      style="background-image: url('img/intro-carousel/5.jpg');"
    ></div>
  </div>
</section>
<!-- #intro -->

<main id="main">
  <!--==========================
      Services Section
    ============================-->
  <section id="about">
    <div class="container">
      <div class="section-header">
        <h2>عن شركتنا</h2>
        <p>
          شركة جرين فالى هى شركة مساهمة مصرية اسست بهدف تقديم خدمات بيئية
          بجمهورية مصر العربية تقوم شركة جرين فالى بادارة منظومه جمع و نقل و
          معالجة و التخلص الامن من النفايات الطبيه الخطره بالمنطقه الشرقيه
          لمحافظه القاهرة تحت مظلة الهيئة العامة لنظافة و تجميل القاهرة .
        </p>
      </div>
    </div>
  </section>
  <!-- #services -->

  <!--==========================
      Services Section
    ============================-->
  <section id="info">
    <div class="container">
      <div class="section-header">
        <h2>عن النفايات الطبية</h2>
        <p>
          تعد النفايات الطبية واحدة من أخطر المشكلات البيئية التى كانت سبباً فى
          إصابة آلاف المواطنين بالأمراض الخطيرة، ورغم وجود قوانين تنظم عملية
          التخلص من هذه المخلفات فى المستشفيات العامة والخاصة من خلال الحرق، إلا
          أن الخطر يظل قائماً نتيجة التحايل على القوانين، ونتيجة لوجود مخلفات فى
          العيادات الطبية الخاصة المنتشرة فى كل مكان، والمراكز الطبية التى لا
          تلتزم بالقوانين وتتخلص من هذه المخلفات بطرق غير صحيحة ، حيث يقوم جامعو
          القمامة بتجميع هذه المخلفات من سرنجات وزجاجات المحاليل البلاستيكية
          ومخلفات عمليات الغسيل الكلوى، ويحتفظون بها فى مخازن خاصة لبيعها بفرض
          إعادة تدويرها وصناعة منتجات الموت المنتشرة فى الأسواق الشعبية..
        </p>
      </div>
    </div>
  </section>
  <!-- #services -->

  <!--==========================
      Services Section
    ============================-->
  <section id="contact-us">
    <div class="container">
      <div class="section-header">
        <h2>خدماتنا</h2>
        <p>
          تقدم شكرتنا نوعيــــــــن من الخدمــــــات
        </p>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="box wow fadeInLeft">
            <div class="icon"><i class="fa fa-trash"></i></div>
            <h4 class="title"><a href="">جمع النفايـــات</a></h4>
            <p class="description">
              يتم جمع النفايات من مختلف المناطق
            </p>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="box wow fadeInRight">
            <div class="icon"><i class="fa fa-fire"></i></div>
            <h4 class="title"><a href="">حرق النفايــــأت</a></h4>
            <p class="description">
              يتم التخلص من مختلف النفايات عن عن طريق الحرق
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- #services -->

  <!--==========================
      Contact Section
    ============================-->
  <section id="contact" class="wow fadeInUp">
    <div class="container">
      <div class="section-header">
        <h2>اتصل بنــا</h2>
        <p>
          يمكنك التواصل معنا عن طريق
        </p>
      </div>

      <div class="row contact-info">
        <div class="col-md-4">
          <div class="contact-address">
            <i class="ion-ios-location-outline"></i>
            <h3>عنوان</h3>
            <address>
              Mohamed Fahmy El Mohdar St No. (1), Nasr City Cairo - Egypt
            </address>
          </div>
        </div>

        <div class="col-md-4">
          <div class="contact-phone">
            <i class="ion-ios-telephone-outline"></i>
            <h3>هاتف</h3>
            <p><a href="tel:+155895548855">(+) 202 2261 1193 / 2261 1194</a></p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="contact-email">
            <i class="ion ion-document" style="margin-top: 20px;"></i>
            <h3>فاكس</h3>
            <p>
              <a href="mailto:info@example.com"
                >(+) 202 2261 0516 / 2404 0261</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container mb-4">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22864.11283411948!2d-73.96468908098944!3d40.630720240038435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sbg!4v1540447494452"
        width="100%"
        height="380"
        frameborder="0"
        style="border:0"
        allowfullscreen
      ></iframe>
    </div>

    <div class="container">
      <div class="form">
        <div id="sendmessage">Your message has been sent. Thank you!</div>
        <div id="errormessage"></div>
        <form action="" method="post" role="form" class="contactForm">
          <div class="form-row">
            <div class="form-group col-md-6">
              <input
                type="text"
                name="name"
                class="form-control"
                id="name"
                placeholder="Your Name"
                data-rule="minlen:4"
                data-msg="Please enter at least 4 chars"
              />
              <div class="validation"></div>
            </div>
            <div class="form-group col-md-6">
              <input
                type="email"
                class="form-control"
                name="email"
                id="email"
                placeholder="Your Email"
                data-rule="email"
                data-msg="Please enter a valid email"
              />
              <div class="validation"></div>
            </div>
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              name="subject"
              id="subject"
              placeholder="Subject"
              data-rule="minlen:4"
              data-msg="Please enter at least 8 chars of subject"
            />
            <div class="validation"></div>
          </div>
          <div class="form-group">
            <textarea
              class="form-control"
              name="message"
              rows="5"
              data-rule="required"
              data-msg="Please write something for us"
              placeholder="Message"
            ></textarea>
            <div class="validation"></div>
          </div>
          <div class="text-center">
            <button type="submit">Send Message</button>
          </div>
        </form>
      </div>
    </div>
  </section>
  <!-- #contact -->
</main>
